@{ ViewData["Title"] = "Restaurants"; }

<div id="restaurants">

	<div class="parallax_scrolling">
		<div class="dark_background">
			<div class="row" style="">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-8">
					<div class="top">
						<h1 class="oxygen">Canberra <br>Restaurants</h1>
					</div>
					<div class="bottom">
						<p class="niconne">Restaurants</p>
					</div>
				</div>
				<div class="col-sm-2">
				</div>
			</div>
		</div>
	</div>

	<section id="two-col">
		<div class="container-fluid row">
			<div class="col-sm-6">
				<h3 class="oxygen">The restaurants</h3>
				<p>People from all across Australia have visited these restaurants and have given their review. </p>
				<p>Head over to our <a href="#">Customer Review Page</a> to find out more.</p>
			</div>
			<div class="col-sm-6">
				<h3 class="oxygen">Customer Reviews</h3>
				<p>People from all across Australia have visited these restaurants and have given their review. </p>
				<p>Head over to our <a href="#">Customer Review Page</a> to find out more.</p>
			</div>
		</div>
	</section>

	<section id="restaurant-list">

		<div class="item row container-fluid">
			<div class="col-sm-3">
				<img src="https://static1.squarespace.com/static/5806e22ec534a5bab1dbc80f/t/5806e29b03596ed3a8686919/1501683707762/" alt="">
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-8">
				<h3 class="oxygen">Italian and Sons</h3>
				<p>"A casual Italian trattoria that specialises in wood fired pizzas such as Rucola with Prosciutto di Parma, rucola &amp; reggiano. Don't miss daily changing main dishes of the day such as their wood roast sucking pig, rosemary, garlic, baked baby fennel &amp; mustard fruits" – Australian good Food Guide</p>
				<p><a href="#">Click Here</a> for the Italian and Sons website</p>
			</div>
		</div>
		<div class="item row container-fluid">
			<div class="col-sm-3">
				<img src="https://i.ebayimg.com/00/s/NTIyWDE2MDA=/z/aYgAAOSwstJZXFld/$_20.PNG" alt="">
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-8">
				<h3 class="oxygen">Jamie's Italian</h3>
				<p>"A casual Italian trattoria that specialises in wood fired pizzas such as Rucola with Prosciutto di Parma, rucola &amp; reggiano. Don't miss daily changing main dishes of the day such as their wood roast sucking pig, rosemary, garlic, baked baby fennel &amp; mustard fruits" – Australian good Food Guide</p>
				<p><a href="#">Click Here</a> for the Italian and Sons website</p>
			</div>
		</div>
		<div class="item row container-fluid">
			<div class="col-sm-3">
				<img src="http://www.sofrank.com.au/wp-content/uploads/2016/03/Chairman-Yip-1.jpg" alt="">
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-8">
				<h3 class="oxygen">Chairman and Yip</h3>
				<p>"A casual Italian trattoria that specialises in wood fired pizzas such as Rucola with Prosciutto di Parma, rucola &amp; reggiano. Don't miss daily changing main dishes of the day such as their wood roast sucking pig, rosemary, garlic, baked baby fennel &amp; mustard fruits" – Australian good Food Guide</p>
				<p><a href="#">Click Here</a> for the Italian and Sons website</p>
			</div>
		</div>
		<div class="item row container-fluid">
			<div class="col-sm-3">
				<img src="http://www.noodlehouse.net.au/Noodle_house/Welcome_files/NH_%5BB%5D_colour.jpg" alt="">
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-8">
				<h3 class="oxygen">Dickson Asian Noodle House</h3>
				<p>"A casual Italian trattoria that specialises in wood fired pizzas such as Rucola with Prosciutto di Parma, rucola &amp; reggiano. Don't miss daily changing main dishes of the day such as their wood roast sucking pig, rosemary, garlic, baked baby fennel &amp; mustard fruits" – Australian good Food Guide</p>
				<p><a href="#">Click Here</a> for the Italian and Sons website</p>
			</div>
		</div>

		<div class="item row container-fluid">
			<div class="col-sm-3">
				<img src="https://s0.yellowpages.com.au/bc0435f1-1530-4d05-a9fb-d4aead5e12c9/blu-ginger-indian-restaurant-canberra-2601-thumbnail.PNG" alt="">
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-8">
				<h3 class="oxygen">Blue Ginger</h3>
				<p>"A casual Italian trattoria that specialises in wood fired pizzas such as Rucola with Prosciutto di Parma, rucola &amp; reggiano. Don't miss daily changing main dishes of the day such as their wood roast sucking pig, rosemary, garlic, baked baby fennel &amp; mustard fruits" – Australian good Food Guide</p>
				<p><a href="#">Click Here</a> for the Italian and Sons website</p>
			</div>
		</div>

		<div class="item row container-fluid">
			<div class="col-sm-3">
				<img src="http://www.jewel-of-india.ca/cuisine/images/Jewel%20Of%20india%20LOGO-600dpi-fromeps-1-800-2.png" alt="">
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-8">
				<h3 class="oxygen">Jewel of India</h3>
				<p>"A casual Italian trattoria that specialises in wood fired pizzas such as Rucola with Prosciutto di Parma, rucola &amp; reggiano. Don't miss daily changing main dishes of the day such as their wood roast sucking pig, rosemary, garlic, baked baby fennel &amp; mustard fruits" – Australian good Food Guide</p>
				<p><a href="#">Click Here</a> for the Italian and Sons website</p>
			</div>
		</div>

	</section>

</div>
